#Ignore everything
*

#Except some very specific files
!.gitignore
!MuJoCoThing/
!MuJoCoThing/MinitaurLeg.xml
!minitaur-stl/
!minitaur-stl/*.STL

!MuJoCoThing/MuJoCoThing.vcxproj*
!MuJoCoThing.sln
!MuJoCoThing/*.cpp
!MuJoCoThing/*.h
