#Ignore everything
*

#Except some very specific files
!.gitignore
!MuJoCoThing/
!MuJoCoThing/MinitaurLeg.xml
!MuJoCoThing/CustomSimulate.cpp
!minitaur-stl/
!minitaur-stl/*.STL
!MuJoCoThing/MuJoCoThing.vcxproj*
!MuJoCoThing.sln
