<worldbody>
    <geom type='plane' size='100 100 100' material='plane' condim='3' contype='1' conaffinity='1'/>

    <body name='minitaur' pos='0 0 0.3'>
        <site name="bodyref" size="0.1"/>
        <camera mode="fixed" pos="1.3 -0.7 0.25" xyaxes = ".4 1 0 -.3 0 1"/>
        
        <inertial pos='0 0 0' mass='5.755' diaginertia='0.005 0.005 0.005'/>
        <geom type='box' size='0.21 0.1 0.075' material='cassie'/>

        <!--Forward/Backward motion -->
        <joint type='slide' limited='false' axis='1 0 0'/>

        <!-- Up/Down motion -->
        <joint type='slide' limited='false' axis='0 0 1' ref='0.3'/>

        <!-- Left/Right motion -->
        <joint type='slide' limited='false' axis='0 1 0'/>

        <!-- Pitch only -->
        <joint type='hinge' limited='false' axis='0 1 0'/>

        <!-- Roll only -->
        <!--<joint type='hinge' limited='false' axis='1 0 0'/>-->

        <!-- Rotation -->
        <!--<joint type='ball' limited='false'/>-->

        <!-- front left -->
        {{> legFragment right=false name="FL" pos="'0.2 0.14 0'"}}

        <!-- front right -->
        {{> legFragment right=true name="FR" pos="'0.2 -0.14 0'"}}

        <!-- back left -->
        {{> legFragment right=false name="BL" pos="'-0.2 0.14 0'"}}

        <!-- back right -->
        {{> legFragment right=true name="BR" pos="'-0.2 -0.14 0'"}}

    </body>

</worldbody>

<equality>
    {{> legConstraints name="FL"}}
    {{> legConstraints name="FR"}}
    {{> legConstraints name="BL"}}
    {{> legConstraints name="BR"}}
</equality>

<actuator>
    {{> legActuators name="FL"}}
    {{> legActuators name="FR"}}
    {{> legActuators name="BL"}}
    {{> legActuators name="BR"}}
</actuator>

<sensor>
    <gyro name="body_gyro" site="bodyref" />
    <accelerometer name="body_accel" site="bodyref" />
    <framepos name="body_pos" objtype="xbody" objname="minitaur" />

    {{> legSensors name="FL"}}
    {{> legSensors name="FR"}}
    {{> legSensors name="BL"}}
    {{> legSensors name="BR"}}
</sensor>